.App {
  text-align: center;
}

.table {
  border-collapse: collapse;
  width: 60%;
  margin: auto;
  margin-top: 50px;
  /* border: 1px solid red; */
}

tr:hover {
  background-color: #ddd;
}

.table > tr > th,
td {
  border: 1px solid #ddd;
  padding: 5px 0;
}

td > input {
  padding: 5px;
  width: 90%;
  height: 100%;
}

td:nth-last-child(1) {
  display: flex;
  justify-content: center;
  gap: 10px;
}
